/* Sidebar.module.css */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 260px;
    z-index: 1;
    overflow: hidden;
    transition: all 0.3s;
}

.sidebar[data-color="purple"] {
    background-color: purple;
}

.sidebar[data-color="blue"] {
    background-color: black;
}

.sidebar[data-image]:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.8;
    z-index: 1;
}

.sidebar-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.sidebar-wrapper {
    position: relative;
    height: 100%;
    overflow: auto;
    z-index: 4;
}

.logo {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.logo-mini {
    margin-right: 5px;
}

.logo-img {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
}

.simple-text {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    width: auto;
}

.nav-link {
    position: relative;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #ffffff;
}

.nav-link i {
    width: 24px;
    height: 24px;
    font-size: 24px;
    line-height: 30px;
    float: left;
    text-align: center;
    margin-right: 15px;
    vertical-align: middle;
}

.nav-link p {
    display: inline-block;
    margin: 0;
    line-height: 30px;
    font-size: 14px;
    white-space: nowrap;
}

.active {
    background-color: rgba(255, 255, 255, 0.2);
}

.active-pro {
    position: absolute;
    width: 100%;
    bottom: 13px;
}
